:root {
  --color-primary: #272a31;
  --color-secondary: #ec5242;
  --color-tertiary: #d3d3d3;
  --page-font: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--page-font);
}

ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

a {
  text-decoration: none;
}

.top-of-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.1rem 4rem;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.top-of-header .items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.top-of-header a {
  color: #fff;
}

.header a {
  color: var(--color-primary);
}

.header {
  position: absolute;
  top: 1.4rem;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  object-fit: contain;
  width: 10rem;
}

.cc-campaign-btn {
  border: 5px solid var(--color-secondary);
  padding: 0.5rem 1rem;
}

.active a {
  color: var(--color-secondary);
}

.ham-menu,
.mobile-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: -12rem;
  right: 2rem;
  background-color: var(--color-secondary);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.back-to-top a {
  color: #fff;
}

.visible {
  bottom: 2rem;
}

.main {
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  gap: 3rem;
}

.main h1 {
  font-size: 2.5rem;
  color: var(--color-secondary);
  margin-bottom: 1rem;
}

.main .long-desc {
  background-color: #fff;
  padding: 2rem;
  max-width: 900px;
}

.main a {
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.contact-info {
  text-align: center;
}

.about,
.past-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  gap: 2rem;
}

.about img {
  width: 30%;
  object-fit: contain;
}

.about h2,
.past-events h3 {
  font-size: 2rem;
}

.small-line {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--color-secondary);
  margin: 1rem 0;
}

.para {
  margin-bottom: 2rem;
}

.about p,
.past-events .para {
  text-align: center;
  max-width: 900px;
}

.about {
  border-bottom: 2px solid var(--color-tertiary);
}

.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1rem;
  background-color: var(--color-primary);
}

.partner-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  font-size: 1rem;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.partner-logos img {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
}

.partners h3 {
  color: var(--color-tertiary);
  margin: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 2px solid #ec5242;
}

.footer {
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.footer-links a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1rem;
}

.footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cards {
  flex-wrap: wrap;
}

.past-events .cards {
  display: flex;
  gap: 3rem;
}

.past-events .cards .card {
  background-image: url('../assets/event.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--color-secondary);
  background-blend-mode: hard-light;
  padding: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 1220px) {
  .header {
    padding: 0 6rem;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 930px) {
  .header {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .main {
    top: 0;
  }

  .top-of-header,
  .header {
    display: none;
  }

  .ham-menu {
    display: block;
    font-size: 2rem;
    margin: 2rem;
    cursor: pointer;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu ul {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem;
    background-color: var(--color-primary);
  }

  .mobile-menu li {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .mobile-menu li a {
    color: #fff;
  }

  .close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }

  .open {
    display: flex;
  }

  .footer {
    flex-direction: column;
    padding: 1rem;
  }

  .footer .footer-links {
    flex-direction: column;
    gap: 1rem;
    margin: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: 7rem;
  }
}
